 body {
    background-color: whitesmoke;
 }



 figure {
     margin-inline-start: 0;
     scroll-margin-inline-end: 0;
 }

 #container {
    text-align: center;
 }

 .boots img {
     margin-top: 1rem;
     width: 100%;
     height: auto;
 }

.boots {
    text-align: center;
}



